body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica", sans-serif;
  font-size: 16px;
}

.wrap {
  max-width: 700px;
  margin: auto;
}

.map {
  padding: 1rem;
  padding-bottom: 0;
  margin: 1rem 0;
}
.map__row {
  display: flex;
  justify-content: space-between;
}
.map__box {
  width: 10px;
  height: 10px;
  margin: 1px; 
  background-color: #ddd;
  border-radius: 2px;
  cursor: pointer;
}
.map__box:hover .map__box__tip {
  visibility: visible;
  opacity: 1;
}
.map__box__tip {
  visibility: hidden; 
  position: relative;
  display: block; 
  width: max-content;
  z-index: 1;
  text-align: center;
  background-color: #222;
  color: #fff;
  font-size: 14px;
  padding: 0.15rem 0.35rem;
  border-radius: 3px;
  top: -225%;

  opacity: 0;
  transition: opacity 0.25s;
}
.map__box--one {
  background-color: #ebb3b3;
}
.map__box--two {
  background-color: #c86c6c;
}
.map__box--three {
  background-color: #c63535;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1rem;
  margin-top: 2rem;
  cursor: default;
  border-bottom: 1px solid #ddd;
}
nav > div a {
  color: #c63535;
  text-decoration: none;
}
nav > div a:hover,
nav > div .active {
  text-decoration: underline;
}
nav > div:last-child a {
  margin-left: 1rem;
}

.head {
  padding: 2rem 1rem;
  color: #222;
  border-bottom: 1px solid #ddd;
}
.title a {
  color: #222;
  text-decoration: none;
}
.head .meta {
  margin-bottom: 0;
  color: #999;
}

.text {
  margin: 2rem 1rem;
  margin-bottom: 3rem;
  color: #222;
  line-height: 1.5;
}

.posts {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin: 2rem 0;
}
.post {
  display: flex;
  justify-content: space-between;
  cursor: default;
  padding: 0.25rem 1rem;
  border-radius: 3px;
}
.post:hover {
  background-color: #f0f0f0;
}
.post__title a {
  color: #222;
  text-decoration: none;
}
.post__title a:hover {
  text-decoration: underline;
}
.post__date {
  color: #999;
}

pre {
  background-color: #f0f0f0;
  margin: 1.5rem -1rem;
  padding: 1rem;
  border-radius: 3px;
  color: #333;
}

code {
  font-family: "Roboto Mono", monospace;
  font-size: 14px;
}

footer {
  border-top: 1px solid #ddd;
  padding: 1rem;
  padding-bottom: 5rem;
  color: #ccc;
  display: flex;
  justify-content: space-between;
  cursor: default;
  font-size: 14px;
}
footer a {
  color: #ccc;
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}
