{{ define "base" }}
<html>
	<head>
		<!-- Global Site Tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-107420153-1"></script>
		<script>
  		window.dataLayer = window.dataLayer || [];
  		function gtag(){dataLayer.push(arguments)};
  		gtag('js', new Date());
  		gtag('config', 'UA-107420153-1');
		</script>

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="{{ .Description }}">	

		<title>{{ .Title }}</title>
		
		<link rel="stylesheet" href="/style.css">	
		<link rel="shortcut icon" href="/favicon.ico">
	</head>
	<body>
		<div class="box">
			<div class="box__item nav">
				<a class="nav__link {{ if eq .Selected "index" }}nav__link--selected {{ end }} nos" href="/">Karl McGuire</a>
				<div class="nav__right">
					<a class="nav__link {{ if eq .Selected "posts" }}nav__link--selected{{ end }} nos" href="/posts/">Posts</a>
					<a class="nav__link {{ if eq .Selected "tags" }}nav__link--selected{{ end }} nos" href="/tags/">Tags</a>
				</div>
			</div>
			{{ template "content" . }}
			<div class="footer nos">
				Copyright &copy; 2018 Karl McGuire 
			</div>
		</div>
    <script src="/ic.min.js" data-no-instant></script>
    <script data-no-instant>InstantClick.init();</script>
	</body>
</html>
{{ end }}
