{{ define "content" }}			
<div class="box__item post">
	<h1 class="post__title">
		{{ .Post.Title }}	
	</h1>
	<div class="post__date nos">
		{{ .Post.Date }}	
		<div class="post__date__tags nos">
			{{ $max := .Max }}
			tags: ({{ range $key, $tag := .Post.Tags }}<a href="/tags/{{ $tag }}/">{{ $tag }}</a>{{ if eq $max $key}}{{ else }}, {{ end }}{{ end }})	
		</div>
	</div>	
	<div class="post__body post__body--text">
		{{ .Post.Html }}
	</div>
	<div class="post__cta nos">
		If you enjoyed reading this, you can <a href="http://eepurl.com/c5xAFP">subscribe to my email list.</a>
		You'll get an update when I post something new.
		If you have questions, comments, or want to call me names, feel free to <a href="mailto:karl@karlmcguire.com">email me</a>
		or <a href="https://telegram.me/karlmcguire">talk to me on Telegram.</a>
	</div>
</div>
{{ end }}
