{{ define "content" }}			
<div class="box__item posts">
	<div class="posts__title">
		Tags	
	</div>
	<div class="posts__body">
		{{ range $key, $tag := .Tags }}
			<div class="posts__body__post">
				<div class="posts__body__post__title">
					<a href="/tags/{{ $tag.Name }}/">{{ $tag.Name }}</a>
				</div>
				<div class="posts__body__post__date">
					{{ len $tag.Posts }}
					{{ if eq (len $tag.Posts) 1 }}
						post	
					{{ else }}
						posts
					{{ end }}
				</div>
			</div>
		{{ end }}
	</div>
</div>
{{ end }}
